/* ScryptIQ Theme - Color Palette */
:root {
    /* Primary Brand Colours */
    --primary: #f02698;
    --primary-dark:  #4d0c2e;
    --secondary: #e07a5f;
    --secondary-dark: #a85441;   
    --third-light: #7f84aa;
    --third: #3d405b;
    --third-dark: #2a2d3f;  
  
    --accent: #00b7c3;

    /* Background Colours */
    --background: #f3f0ddff;
    --card-bg: #ffffff;
    --border: #e2e8f0;

    /* Text Colours */
    --text-primary: #1d232d;
    --text-secondary: #4a5568;
    --text-light: #454545;
    --text-on-dark: #ffffff;
    --footer-text: #454545;

    /* Semantic Colours */
    --success: #48bb78;
    --warning: #e60000;
    --error: #f56565;
    --remember: #f02698;
    --key-terms: #6e6ca9;
    --tip: #3abff0;

    /* Homepage Colours */
    --main-text: #f3f0ddff;
    --main-background: #f3f0ddff;
    --module-cards: #3d405b;
    --module-cards-dark: #2a2d3f;  
    --about-us-text: #3d405b;
    --start-gradient: #e07a5f;
    --end-gradient: #f02698;
}